# This is an example .db.env file
# WARNING: There are fictional credentials for demonstration purposes only

MYSQL_ROOT_PASSWORD=123
MYSQL_DATABASE=auth
MYSQL_USER=authuser
MYSQL_PASSWORD=mysqltest123