# This is an example .db.env file
# WARNING: There are fictional credentials for demonstration purposes only

DATABASE_URL=mysql+mysqlconnector://authuser:mysqltest123@db:3306/auth
REDIS_URL=redis://redis:6379