# This is an example .prod.env file
# WARNING: There are fictional credentials for demonstration purposes only

MYSQL_ROOT_PASSWORD=123
MYSQL_DATABASE=auth
MYSQL_USER=authuser
MYSQL_PASSWORD=mysqltest123
DATABASE_URL=mysql+mysqlconnector://authuser:mysqltest123@db:3306/auth
REDIS_URL=redis://redis:6379